{{$root := .}}
  <div>
    <p>{{Locale.ConsiderFileABug}}</p>
    <p>{{Locale.Languages}}</p>
    <ul>
    {{range Languages}}
      <li><a href="{{call $root.nav.localizePath .String}}">{{.String}}</a></li>
    {{end}}
    </ul>
  </div>
  </div> <!-- dharma-app -->
  {{template "base/feature_detection" .}}
  {{if Debug}}
  <script src="https://unpkg.com/vue@3.1.5/dist/vue.global.js"></script>
  {{else}}
  <script src="https://unpkg.com/vue@3.1.5/dist/vue.global.prod.js"></script>
  {{end}}
  <script type="module" src="{{JsDir}}/{{.resources.js}}"></script>
  </body>
</html>
