<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{CssDir}}/{{.resources.css}}">
  </head>
  <body>
  </body>
  <div id="dharma-app">
  {{if Debug}}
    {{template "base/debug" .}}
  {{end}}
  {{template "base/nav" .}}
