{{template "base/header" .}}
<p>{{Locale.DharmaNotManagingACorporationTitle}}</p>
<p>{{Locale.DharmaNotManagingACorporation}}</p>
{{if and .nav.signedIn .nav.isAdmin}}
<a href="{{.nav.paths.corpSetup}}">{{Locale.ClickHereToSelectCorporation}}</a>
{{else}}
<p>{{Locale.NotifyAdminToManageCorp}}</p>
{{end}}
{{template "base/footer" .}}
