{{template "base/header" .}}
<p>{{Locale.Characters}}</p>
<a href="{{.nav.paths.beginCharacterAuth}}">{{Locale.AuthorizeCharacter}}</a>
{{if eq (len .characters) 0}}
  <div>{{Locale.NoCharactersAuthorized}}</div>
{{else}}
  {{range $_, $char := .characters}}
    <div>
      {{$char}}
      {{if eq $char.Character.ID .selectedID}}
        <p>{{Locale.Selected}}</p>
      {{end}}
      {{if $char.TokenNeedsRescope}}
        <p>{{Locale.TokenReauthorizationRequired}}</p>
      {{end}}
    </div>
  {{end}}
{{end}}
{{template "base/footer" .}}
