{{template "base/header" .}}
{{if .verified}}
  <p>{{Locale.VerifySuccess}}</p>
{{else}}
  {{if .showty}}<p>{{Locale.ThanksForRegistering}}</p>
  {{else}}<p>{{Locale.NotVerifiedEmailYet}}</p>{{end}}
  <p>{{Locale.VerifyEmail}}</p>
  <p>{{Locale.CheckEmailForVerification}}</p>
{{end}}
{{template "base/footer" .}}
