{{template "base/header" .}}
<form method="post" action="login">
  {{if .loginError}}
  <div>{{Locale.LoginError}}</div>
  {{end}}
  <div>
    <label for="email">{{Locale.Email}}</label>
    <input id="email" type="text" name="email" value="{{.username}}" autofocus required>
  </div>
  <div>
    <label for="password">{{Locale.Password}}</label>
    <input id="password" type="password" name="password" required>
  </div>
  <button>{{Locale.Login}}</button>
</form>
{{template "base/footer" .}}
